@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Poppins:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: blanchedalmond;
    background-color: #4edada;
    animation: bodyanim 2s ease-out; 
    
}



.main{
    height: 100vh;
    width: 100vw;
    /* width: 100vw; */
    background-color: #4edada;
    animation: anim 2s ;
    /* background-image: url(images/Website.png); */
}

@keyframes anim{
    0%{
        transform: translateY(-100%);
        transform: translateX(-100%);
        
    }

    100%{
        transform: translateY(0);
        transform: translateX(0);
    }

}

.title{
    margin-top: 0px;
    padding: 20px 0px;
    font-size: 4rem;
    /* font-family: Merienda; */
  font-family: 'Audiowide', cursive;
  /* font-family: 'Carter One', cursive; */
  /* font-family: 'Merriweather', serif; */
  
}

.playerbox{
    display: flex;
    justify-content: center;
    
}

.player{
    margin: 0 100px;
    padding: 10px;
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, sans-serif; 
}

.gameplace{
    display: flex;
    justify-content: center;
}

.dicebox{
    margin: 30px;
}

button{
    background-color: #9C060C;
    color: wheat;
    font-size: 25px;
    font-family: 'Square Peg', cursive;
    padding: 0 54px;
    margin: 0 0 30px 0px;
    border: 2px solid wheat;
    border-radius: 10px;
}

footer{
    margin-top: 50px;
}

.head{
   
    font-weight: lighter;
    font-size: 20px;
    color: #9C060C;
}

#headp{
    margin-top: 10px;
    margin-bottom: 5px;
}




@media screen and (min-width:320px ) and (max-width:481px){

    .dice{
        width: 130px;
    }
     .dicebox{
        /* width: fit-content; */
        margin: 30px 20px;
     }

     .title{
        font-size: 3rem;
     }

     .player{
        font-size: 20px;
        margin: 0px 30px;
        padding: 0px 25px;
     }

     .btn{
        padding: 5px 20px;
        margin: 2px;
        font-size: 10px;
     }

     footer{
        /* margin-top:10px; */
        font-weight: lighter;
        font-size: 10px;
     }


     .head{
   
        font-weight: lighter;
        font-size: 15px;
        color: #9C060C;
    }
    
    #headp{
        margin-top: 30px;
        margin-bottom: 5px;
    }



}