body{
   background-color: blueviolet;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   /* left: 30%; */
   /* background: url(image/Website.png); */
   background: url(image/Wallpaper.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: rgb(42, 79, 79);
   color: white;
}

.main{
    border: 0.5px solid rgba(0, 0, 0, 0.253);
    width: 600px;
    height: 650px;
    background-color: burlywood;
    display: flex;
    /* margin-top: 20px;
    margin-right: 50px; */
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 11, 11, 0.194);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.42),
    -6px -6px 10px -1px rgba(14, 13, 13, 0.486);

}




input{
    font-size: 50px;
    border: 0px;
    border-radius:10px ;
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.numberside{
    margin-bottom: 10px;
    width: 605px;
    /* height: 180px; */
    
    /* background-color: rgb(78, 107, 132); */

}

.number{
    margin: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    background-color: transparent;
    background-color: rgba(46, 45, 45, 0.457);
    border: 0px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.42),
        -6px -6px 10px -10px rgba(228, 228, 228, 0.486);
}

.number:hover{
    /* background-color: rgba(218, 218, 218, 0.573); */
    border: 1px solid rgba(255, 255, 255, 0.053);
    box-shadow: 6px 6px 10px -10px rgba(228, 228, 228, 0.486),
               -6px -6px 10px -1px rgba(0, 0, 0, 0.42);

}


.sec {
    display: flex;
    /* justify-content: center; */
    align-self: center;
    justify-content: space-around;
    /* background-color:aquamarine; */
}

.sec {
    display: flex;
    justify-content: space-around;
    align-self: center;
    /* background-color: aquamarine; */
}

.sec {
    display: flex;
    justify-content: space-around;
    align-self: center;
    /* background-color: aquamarine; */
}

.sec {
    display: flex;
    justify-content: space-around;
    align-self: center;
    /* background-color: aquamarine; */
}

.sec {
    display: flex;
    justify-content: space-around;
    align-self: center;
    /* background-color: aquamarine; */
}

.numbera{
    /* margin: 20px; */
    margin: 20px;
    margin-top: 30px;
    width: 70px;
    height: 50px;
    border: 0;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.42),
    -6px -6px 10px -10px rgba(228, 228, 228, 0.486);
    background-color:rgb(243, 175, 86); 
    background-color: red;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
}

.numbera h1{
    color:white;
}

.numbera:hover{
    border: 1px solid rgba(255, 255, 255, 0.053);
    box-shadow: 6px 6px 10px -10px rgba(228, 228, 228, 0.486),
               -6px -6px 10px -1px rgba(0, 0, 0, 0.42);
}