body {
	background: #084855;
    background-image: linear-gradient( #000046, #1CB5E0);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
    background-image: url(image/blue-backgrounds.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* height: 100vh; */
   cursor:default;
}

header{
	display: flex;
	text-align: center;
	align-items: center;

	justify-content: space-between;



}

.name{
padding-left: 130px;	
width: 300px;
}



.s-icone{
 padding: 0px 10px;
}



.intro {
	margin: 20px 0px;
	font-weight: bold;
    display: inline-block;
}

 
.title{
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
    padding: 0px 10px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.75),
    -6px -6px 10px -1px rgba(45, 66, 71, 0.25);
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
    font-size: 80px;
    text-shadow:3px 4px 2px rgb(0, 0, 0) ;
	font-weight: 800;
      
}

h1::first-letter{
    color: rgb(222, 164, 17);
}


.intro{
    margin: 0px;
}

p {
    color: rgba(255, 255, 255, 0.384);
	font-weight: 100;
    font-family: cursive;
    font-style: italic;
    
}

.logopic{
    border-radius: 10%;
}
.logopic:hover{
    transform: scale(1.2);
    transition: all ease-in-out 1ms;
}

#zero{
	margin-top: 0px;
	color: #ffffff;
    text-shadow:1px 1px 1px #000000fa;
	text-transform: capitalize;
	font-size: 20px;
}

#first {
	margin-top: 0px;
     color: #ffb300;
    text-shadow:1px 1px 1px #000000fa;
}

#second {
	color: #ffb300;
    text-shadow:1px 1px 1px #000000fa; 
}

#third {
	/* color: #025F70; */
    color: #ffb300;
    text-shadow:1px 1px 1px #000000fa;
	/* margin-bottom: 30px; */
}


#enter {
	border: none;
    border: 2px solid;
	/* padding: 5px 15px; */
    margin-left: 2px;
    padding: 1px 10px;
	border-radius: 5px;
	color: #04A1BF;
    color: #fcfcfc;
    cursor: pointer;
	background-color: #0f333a;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;

}

#enter:hover{
	background-color: #02798F;
    background-color: #035f70;
	color: #fcc652;
    box-shadow: 2px 1px 5px #062544;
}

ul {
	text-align: left;
	margin-top: 20px;
}



li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #042127;
	border-radius: 5px;
	margin-bottom: 20px;
	background: #4EB9CD;
	background: #031d21;
	background: #031d2136;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.61),
    -6px -6px 10px -1px rgba(12, 25, 34, 0.473);
}

li:hover {
	background: #73d7eb;
	background: #04323b5d;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #025f70;
    color: rgb(255, 149, 0);
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 55%;
	padding: 5px;
	border: none;
}


.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
}